<a href="https://colab.research.google.com/github/Kira1108/gpt_sms/blob/main/messagegpt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 配置相关信息

In [3]:
import os
os.environ['OPENAI_API_KEY'] = 
os.environ['SQLITE_URI'] = "sqlite:////content/drive/MyDrive/AI/MessageGPT/message_ai.db"

In [4]:
!git clone https://github.com/Kira1108/gpt_sms.git
!cp -r gpt_sms/* .
!mkdir -p raw_data
!cp /content/drive/MyDrive/AI/MessageGPT/data/cute_messages.fth raw_data

from IPython.display import clear_output
!pip install -r requirements.txt
clear_output()

## 准备数据

In [5]:
!python data_main.py --help

 Usage: data_main.py [OPTIONS] PATH

 Read raw datafile into sqlite database, either csv or feather. fmt: file
 format, csv or feather path: path to the file

╭─ Arguments ──────────────────────────────────────────────────────────────────╮
│ *    path      TEXT  [default: None] [required]                              │
╰──────────────────────────────────────────────────────────────────────────────╯
╭─ Options ────────────────────────────────────────────────────────────────────╮
│ --fmt                        TEXT  [default: csv]                            │
│ --replace    --no-replace          [default: no-replace]                     │
│ --help                             Show this message and exit.               │
╰──────────────────────────────────────────────────────────────────────────────╯

In [6]:
!python data_main.py --fmt feather --replace raw_data/cute_messages.fth

INFO:Data:Reading feather file raw_data/cute_messages.fth.
INFO:Data:Writing to database.
Are you sure you want to replace the database? (y/n)y
INFO:Data:Replacing database.
INFO:Data:Done~~!

In [7]:
import sqlite3
import pandas as pd

with sqlite3.connect(os.getenv("SQLITE_URI")[10:]) as conn:
    df = pd.read_sql_query("select * from messages", conn)
print(f"Number of Records{df.shape[0]}")
df.head(5)

Number of Records10

,id,phone,message,ai_message,ai_json,json_compatible,prompt_tokens,completion_tokens,total_tokens,created_at,updated_at
0,1,+256762692773,Hi,None,None,None,None,None,None,2023-05-24 03:55:17,None
1,2,AirtelMoney,"Cash deposit of UGX 15,000 with Agent ID:42727...",None,None,None,None,None,None,2023-05-24 03:55:17,None
2,3,+256783978050,Call me,None,None,None,None,None,None,2023-05-24 03:55:17,None
3,4,+256700613049,I will speak a word into your life and surely ...,None,None,None,None,None,None,2023-05-24 03:55:17,None
4,5,MYPAKAPAKA,myPakaPaka loaded: 40minutes and 35SMS expirin...,None,None,None,None,None,None,2023-05-24 03:55:17,None

## 解析数据

In [10]:
!python ai_main.py --template keywords --batch 3

INFO:AI:No unparsed messages.

In [9]:
with sqlite3.connect(os.getenv("SQLITE_URI")[10:]) as conn:
    data = pd.read_sql_query("select * from messages", conn)
print("Number of records: {}".format(len(data)))
data

Number of records: 10

,id,phone,message,ai_message,ai_json,json_compatible,prompt_tokens,completion_tokens,total_tokens,created_at,updated_at
0,1,+256762692773,Hi,"{\n ""primary_category"": ""Personal"",\n ""secon...","""{\n \""primary_category\"": \""Personal\"",\n \...",1,287,39,326,2023-05-24 03:55:17,2023-05-24 03:55:54
1,2,AirtelMoney,"Cash deposit of UGX 15,000 with Agent ID:42727...","{\n ""primary_category"": ""Transaction"",\n ""se...","""{\n \""primary_category\"": \""Transaction\"",\n...",1,331,65,396,2023-05-24 03:55:17,2023-05-24 03:56:38
2,3,+256783978050,Call me,"{\n ""primary_category"": ""Personal"",\n ""secon...","""{\n \""primary_category\"": \""Personal\"",\n \...",1,288,33,321,2023-05-24 03:55:17,2023-05-24 03:56:28
3,4,+256700613049,I will speak a word into your life and surely ...,"{\n ""primary_category"": ""Invitation"",\n ""sec...","""{\n \""primary_category\"": \""Invitation\"",\n ...",1,331,73,404,2023-05-24 03:55:17,2023-05-24 03:56:47
4,5,MYPAKAPAKA,myPakaPaka loaded: 40minutes and 35SMS expirin...,"{\n ""primary_category"": ""Advertisement"",\n ""...","""{\n \""primary_category\"": \""Advertisement\"",...",1,339,73,412,2023-05-24 03:55:17,2023-05-24 03:56:58
5,6,MYPAKAPAKA,"myPakaPaka loaded: 20minutes, 5SMS, 5MB expiri...","{\n ""primary_category"": ""Subscription"",\n ""s...","""{\n \""primary_category\"": \""Subscription\"",\...",1,343,72,415,2023-05-24 03:55:17,2023-05-24 03:57:09
6,7,MTNPulse,Y'ello. Your request is being processed. Pleas...,"{\n ""primary_category"": ""Transaction"",\n ""se...","""{\n \""primary_category\"": \""Transaction\"",\n...",1,303,62,365,2023-05-24 03:55:17,2023-05-24 03:57:17
7,8,EQUITYUG,"Dear WEGOYE, Your registration is successful. ...","{\n ""primary_category"": ""Verification"",\n ""s...","""{\n \""primary_category\"": \""Verification\"",\...",1,321,63,384,2023-05-24 03:55:17,2023-05-24 03:57:25
8,9,+256706383465,BABY@ CALL; ME -PLZ,"{\n ""primary_category"": ""Personal"",\n ""secon...","""{\n \""primary_category\"": \""Personal\"",\n \...",1,295,54,349,2023-05-24 03:55:17,2023-05-24 03:57:34
9,10,AirtelMoney,"Cash withdrawal of UGX95,000 with Agent ID: 10...","{\n ""primary_category"": ""Transaction"",\n ""se...","""{\n \""primary_category\"": \""Transaction\"",\n...",1,344,64,408,2023-05-24 03:55:17,2023-05-24 03:57:44