In [8]:
import sqlite3
from dataclasses import dataclass
import pandas as pd

In [13]:
@dataclass
class SqliteDb:
    dbpath:str = "message_ai.db"
    
    def execute(self, sql):
        with sqlite3.connect(self.dbpath) as conn:
            cursor = conn.cursor()
            cursor.execute(sql)
            conn.commit()
    
    def fetch(self, sql):
        with sqlite3.connect(self.dbpath) as conn:
            cursor = conn.cursor()
            cursor.execute(sql)
            return cursor.fetchall()
        
    def show_tables(self):
        sql = "SELECT name FROM sqlite_schema WHERE type='table' ORDER BY name;"
        return self.fetch(sql)
    
    def dataframe(self, sql):
        with sqlite3.connect(self.dbpath) as conn:
            return pd.read_sql(sql, conn)
    
db = SqliteDb()
db.show_tables()

[('messages',)]

In [14]:
db.dataframe("select * from messages")

,id,phone,message,ai_message,ai_json,json_compatible,prompt_tokens,completion_tokens,total_tokens,created_at,updated_at
0,1,29805698716395949396,kxxkcoerfj,None,None,None,None,None,None,2023-05-17 15:56:47,None
1,2,92709947271906189489,vwjdojtjem,None,None,None,None,None,None,2023-05-17 15:56:47,None
2,3,51059942831108146768,rcwyzaekhc,None,None,None,None,None,None,2023-05-17 15:56:47,None
3,4,23432022864989586818,ilvfbryhtt,None,None,None,None,None,None,2023-05-17 15:56:47,None
4,5,79179313801041464159,sxkgqyokkr,None,None,None,None,None,None,2023-05-17 15:56:47,None
5,6,66035106540992441828,lbwhohtppm,None,None,None,None,None,None,2023-05-17 15:56:47,None
6,7,41324103625859382329,rgegixfcyy,None,None,None,None,None,None,2023-05-17 15:56:47,None
7,8,27219779458867251198,pukgmoxwzc,None,None,None,None,None,None,2023-05-17 15:56:47,None
8,9,91959528847077563986,ixdehgaeel,None,None,None,None,None,None,2023-05-17 15:56:47,None
9,10,30810537665367691561,talbmothkv,None,None,None,None,None,None,2023-05-17 15:56:47,None